header {
    background-color: rgb(125, 164, 248);
}

h1, h2 {
    font-family: serif;
}

nav a {
    font-weight: bold;
}

.container {
    padding: 20px;
}

.conteudo {
    line-height: 1.5;
}

form {
    border: 1px solid grey;
    padding: 10px;
}

p {
    color: green;
}

form button {
    background-color: rgb(49, 49, 240);
    color: white;
}

footer {
    border-top: 2px solid red;
}